
#root {
    height: 100%;
}

.LoginPage {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.LoginHeader {
    width: 50%;
}

.AppName {
    align-self: flex-start;
    text-align: center;
    font-size: 30px;
    transform: rotate(344deg);
    margin-top: 20px;
}

.LoginForm {
    margin-top: 10%;
    margin-right: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LoginTextForm {
    font-size: 20px;
    margin-left: 30px;
}

.LoginInputs {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.LoginInput {
    outline: 0;
    width: 310px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #49bff5;
    margin-bottom: 20px;
    font-size: 20px;
    color: #06eefa;
    transition: border-color 0.2s;
}

.LoginInput:focus {
    border-color: #c3fcff;
}

.LoginInput#Error {
    border-color: rgb(253, 41, 41);
}

.LoginInputPlaceholder {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    color: #43d2d9;
    transition: color 0.2s;
}

.LoginInputPlaceholder#Error {
    color: rgb(253, 41, 41);
}

.LoginInputPS {
    font-weight: 400;
    font-size: 13px;
    transition: opacity 0.1s;
}

.LoginInputPS#Active {
    opacity: 1;
}

.LoginInputPS#Desactive {
    opacity: 0;
}

.LoginButton {
    width: 340px;
    height: 40px;
    margin-top: 40px;
    background: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1;
    border-color: #1d87de;
    color: #4fa0f0;
    font-size: 20px;
    cursor: pointer;
    transition-property: color border-color background-color width;
    transition-duration: 0.1s;
    outline: 0;
}

.LoginButtonLabel {
    cursor: pointer;
    transition: opacity 0.3s;
}

.LoginButtonLabel#Active {
    opacity: 1;
}

.LoginButtonLabel#Error {
    opacity: 0;
}

.LoginButton:hover {
    background-color: #43d2d9;
    border-color: #43d2d9;
    color: white;
    transition-property: color border-color background-color;
    transition-duration: 0.5s;
}

.LoginButton:Active {
    transition: width 0.2s;
    width: 325px;
}

.LoadingImage {
    position: relative;
    bottom: 4px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.LoadingImage#Active {
    opacity: 1;
}

.LoadingImage#Error {
    opacity: 0;
}

.FormEnjoy {
    margin-top: 10px;
    font-size: 15px;
}

.LoginColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MemeTags {
    margin-top: 10px;
    padding: 15px;
    padding-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 25, 39);
    border-radius: 8px;
    position: relative;
}

.Deg19 {
    transform: rotate(19deg);
    color: #77effc;
    font-size: 16px;
}

.Deg331 {
    transform: rotate(331deg);
    color: #77effc;
    font-size: 16px;
}

.Deg300 {
    transform: rotate(300deg);
    color: #77effc;
    font-size: 16px;
}

#JTB {
    margin-bottom: 10px;
    margin-left: 100px;
    color: #26b9a1;
}

#TTW {
    margin-bottom: 10px;
    margin-right: 150px;
    color: #530777;
}

.LOL {
    margin-right: 170px;
    margin-bottom: -10px;
    color: #7e5e06;
}

#TBA {
    margin-bottom: 65px;
    margin-left: 100px;
    color: #a00909;
}

#SWT {
    margin-right: 200px;
    margin-top: 30px;
    color: #6de709;
}

#TMA {
    margin-left: 150px;
    color: #ac0b83;
}

#IHT {
    margin-right: 100px;
    margin-bottom: 50px;
    color: #7e5e06;
}

#GTO {
    margin-left: 100px;
    color: #a00909;
}

#IYS {
    margin-right: 200px;
    color: #26b9a1;
}

#IWC {
    margin-left: 200px;
    color: #530777;
}

.GCF {
    margin-top: 50px;
    font-size: 30px;
}